/* About Me */

main .aboutMe {
    margin-top: 7rem;
    max-width: 70rem;
    margin: 2rem auto;
    padding: 2rem;
}

main .aboutMe .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
}

main .aboutMe .info img {
    width: 35vw;
    margin-right: 2rem;
}

main .aboutMe .info h2 {
    font-size: 2rem;
    color: var(--color-secundary);
    margin-bottom: 1rem;
}

main .aboutMe .info p {
    line-height: 1.7rem;
    font-weight: 300;
}

main .aboutMe .skills {
    margin: 2rem 0;
}

main .aboutMe .skills h3 {
    text-align: center;
    font-size: 1.6rem;
    color: var(--color-secundary);
    margin-bottom: 4rem;
}

main .aboutMe .skills > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .aboutMe .skills .container {
    background-color: #252525;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    flex-basis: 30%;
}

main .aboutMe .skills .container ul {
    list-style: none;
    color: #fff;
    font-size: 1.3rem;
}

main .aboutMe .skills .container ul li {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem
}

main .aboutMe .skills .container ul li img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.6rem;
}

/* MediaQuerys */

@media (min-width: 1200px) {
    main .aboutMe .info img {
        max-width: 30rem;
    }

    main .aboutMe .info h2 {
        font-size: 2.5rem;
    }

    main .aboutMe .info p {
        font-size: 1.5rem;
    }
}