/* Contact Me */

main .contactMe {
    max-width: 50rem;
    padding: 0 1rem 0 1rem;
    margin: 0 auto;
}

main .contactMe h2 {
    color: var(--color-primary);
    margin-bottom: 1rem;
    font-size: 2rem;
}

main .contactMe p {
    line-height: 1.8rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

main .contactMe button {
    margin-bottom: 2rem;
}

main .contactMe span {
    display: flex;
    align-items: center;
    font-weight: 500;
}

main .contactMe img {
    width: 2rem;
    height: 2rem;
    margin-left: 0.6rem;
}

/* MediaQuerys */

@media (min-width: 1200px) {
    main .contactMe h2 {
        font-size: 2.5rem;
    }
    main .contactMe p {
        font-size: 1.5rem;
    }
}