/* Contact Me */

main .contactMe {
    max-width: 50rem;
    padding: 2rem 2rem 7rem 2rem;
    margin: 0 auto;
}

main .contactMe h2 {
    color: var(--color-primary);
    margin-bottom: 1rem;
    font-size: 2rem;
}

main .contactMe p {
    line-height: 1.8rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

main .contactMe button {
    margin-bottom: 2rem;
}

main .contactMe span {
    display: flex;
    align-items: center;
    font-weight: 500;
}

main .contactMe img {
    width: 2rem;
    height: 2rem;
    margin-left: 0.6rem;
}