/* Footer */

footer {
    background-color: var(--background-color);
    padding: 5rem;
}

footer span {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
}