/* Header */

header {
    padding: 2rem 0 2rem 0;
    background-color: #fff;
    min-height: 100%;
}

/* NavBar */

header nav {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 0.5rem;
}

header nav ul li a {
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-primary)
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Hero */

header .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    max-width: 100rem;
}

header .hero > div {
    margin-bottom: 5rem;
}

header .hero div h1 {
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 16%, rgba(98, 94, 68, 1) 51%);
    background-clip: text;
    color: transparent;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

header .hero div h1 img {
    width: 3rem;
}

header .hero div p {
    line-height: 1.7rem;
    font-weight: 300;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

header .hero > img {
    width: 90vw;
    margin-bottom: 5rem;
}

/* Media Querys */

@media (min-width: 768px) {
    /* NavBar */
    header nav {
        padding: 2rem 0 4rem 0;
    }

    header nav ul li {
        padding: 1rem;
    }
    /* Header */
    header .hero {
        flex-direction: row;
    }

    header .hero div h1 {
        font-size: 3rem;
    }

    header .hero > img {
        margin-left: 2rem;
        width: 50vw;
    }
}

@media (min-width: 1300px) {
    /* Hero */
    header .hero > img {
        margin-left: 5rem;
    }
}