@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('header.css');
@import url('about.css');
@import url('project.css');
@import url('contact.css');
@import url('footer.css');

:root {
    --color-primary: #625E44;
    --color-secundary: #2B1915;
    --color-therciary: #252525;
    --color-fourth: #C0BAAC;
    --background-color: #f5f5f5;
    --main-font: "Inter", sans-serif;
}

/* Main Settings */

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    font-family: var(--main-font)
}

/* Util Classes */

.ctaButton {
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    border-radius: 5px;
    font-weight: 800;
    font-size: 1.1rem;
    color: #fff;
    background-color: var(--color-primary);
    text-decoration: none;
    transition: transform .2s ease-in-out;
}

.ctaButton:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

/* Main */

main {
    background-color: var(--background-color);
}

main > img {
    display: block;
}